*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

body{
    height: 200vh;
    width: 200vw;
}


div{
    border: solid 3px black;
    background-color: deepskyblue;
    width: 10rem;
    height: 10rem;
    
    display: inline-block;
    margin: 50px;
}


body div:nth-child(3){
    background-color: darkorange;

    /* static, relative, absolute, fixed, sticky */
    position: static;
    top: 100px; 
    left: 100px;

}

