*{
    border: 0;
    margin: 0;
    padding: 0;
}

p{
    border: red solid 3px;
    padding: 1rem;
    padding-left: 4rem;   
    margin: 1rem 5rem; 
}


blockquote{
    border: seagreen solid 3px;
    margin-bottom: 10rem;
}

cite{
    border: blueviolet solid 3px;
}
/* block-element */
h2{
    border:deeppink dotted 3px;
    /* top right bottom left */
    margin: 1rem 2rem 3rem 4rem;
}
/* inline-element */
a{
    border: darkslategrey solid 3px;
    padding: 2rem;
    margin: 2rem;
}